#custom-popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fafafa;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: max-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #3f547e;
    padding: 0 5px;
    border: none;
    background-color: transparent;
}

#custom-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #909ff7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: max-content;
}